@model CDYNews.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="banner">
    <div class="container">
        <div class="banner-inner">
            <div class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider4">
                    @{ var Banner = (from a in Model.BannerPost
                                      join b in Model.PostCategories
                                      on a.CategoryID equals b.ID
                                      select new { a.Alias, a.Name, a.Description, CategoryAlias = b.Alias }); }
                    @foreach (var hotPost in Banner)
                    {
                        var url = "/" + hotPost.CategoryAlias + "/" + hotPost.Alias;
                        <li class="callbacks1_on" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out;">
                            <div class="banner-info">
                                <h3>@hotPost.Name</h3>
                                <p>@hotPost.Description</p>
                                <a type="button" class="btnReadHotNews" href="@url">Đọc tiếp</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <!--banner-Slider-->
            <script src="~/Assets/client/js/responsiveslides.min.js"></script>
            <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: false,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });

                });
            </script>
        </div>
    </div>
</div>

<!--//end-banner-->
<!--/start-main-->
<div class="main-content">
    <div class="container">
        <div class="mag-inner">
            <div class="col-md-8 mag-innert-left">
                <!--business-->
                <div class="business">
                    <h3 class="tittle"><i class="glyphicon glyphicon-certificate"></i>Tin mới đăng</h3>
                    @{ var LastedPostAliasList = (from a in Model.LastedPosts
                                                   join b in Model.PostCategories
                                                   on a.CategoryID equals b.ID
                                                   select new { a.Alias, a.Name, a.Description, a.CreatedDate, a.CreatedBy, a.Image, CategoryAlias = b.Alias }); }
                    @foreach (var post in LastedPostAliasList)
                    {
                        var url = "/" + post.CategoryAlias + "/" + post.Alias;
                        <div class="business-inner">
                            <div class="col-md-6 b-img"><a href="@url"><img style="width:100%" class="img-responsive" src="@post.Image" alt="" /></a></div>
                            <div class="col-md-6 b-text">
                                <h5><a href="@url">@post.Name</a></h5>
                                <h6><i class="glyphicon glyphicon-time"></i>Đăng lúc @post.CreatedDate.ToString("dd/MM/yyyy HH:mm:ss")</h6> <div class="icons"><a href="#"><i class="glyphicon glyphicon-user"></i>@post.CreatedBy</a><a href="#"><i class="glyphicon glyphicon-comment"></i>2</a><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i>152</a><a href="#"><i class="glyphicon glyphicon-thumbs-down"></i> 26</a></div>
                                <div class="clearfix"></div>
                                <p>@post.Description</p>
                                <a class="read" href="@url">Read More</a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="business-bottom-content">

                            </div>
                        </div>
                    }
                </div>
                <!--//business-->
                <!--//latest-articles-->
                <div class="latest-articles">
                    <h3 class="tittle"><i class="glyphicon glyphicon-file"></i>Bài đọc nhiều nhất</h3>
                    <div class="world-news-grids">
                        @{ var MostVisitedList = (from a in Model.MostVisitedPost
                                                       join b in Model.PostCategories
                                                       on a.CategoryID equals b.ID
                                                       select new { a.Alias, a.Name, a.Description, a.CreatedDate, a.CreatedBy, a.Image, CategoryAlias = b.Alias }); }
                        @foreach (var item in MostVisitedList)
                        {
                            var url = "/" + item.CategoryAlias + "/" + item.Alias;
                            <div class="world-news-grid">
                                <img src="@item.Image" alt="" />
                                <a href="@url" class="wd">@item.Name</a>
                                <p>@item.Description</p>
                                <a class="read" href="@url">Read More</a>
                            </div>
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--//articles-->
            </div>
            <div class="col-md-4 mag-inner-right">
                <div class="connect">
                    <h4 class="side">Thể loại</h4>
                    <ul class="stay">
                        @foreach (var postCategory in Model.PostCategoriesList)
                        {
                            var url = "/" + postCategory.Alias;
                            <li class="c5-element-facebook"><a href="@url"><span class="text">@postCategory.Name</span></a></li>
                        }
                    </ul>
                </div>

                <div class="modern">
                    <h4 class="side">Bản tin sức khoẻ</h4>
                    <div class="edit-pics">
                        <div class="editor-pics">
                            <div class="col-md-3 item-pic">
                                <img src="images/f4.jpg" class="img-responsive" alt="" />

                            </div>
                            <div class="col-md-9 item-details">
                                <h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
                                <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="editor-pics">
                            <div class="col-md-3 item-pic">
                                <img src="images/f1.jpg" class="img-responsive" alt="" />

                            </div>
                            <div class="col-md-9 item-details">
                                <h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
                                <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="editor-pics">
                            <div class="col-md-3 item-pic">
                                <img src="images/f1.jpg" class="img-responsive" alt="" />

                            </div>
                            <div class="col-md-9 item-details">
                                <h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
                                <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="editor-pics">
                            <div class="col-md-3 item-pic">
                                <img src="images/f4.jpg" class="img-responsive" alt="" />

                            </div>
                            <div class="col-md-9 item-details">
                                <h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
                                <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>
                <!--/start-sign-up-->
                <!--//end-sign-up-->
                <h4 class="side">Bản tin giáo dục</h4>
                <div class="edit-pics">
                    <div class="editor-pics">
                        <div class="col-md-3 item-pic">
                            <img src="images/f4.jpg" class="img-responsive" alt="" />

                        </div>
                        <div class="col-md-9 item-details">
                            <h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
                            <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="editor-pics">
                        <div class="col-md-3 item-pic">
                            <img src="images/f1.jpg" class="img-responsive" alt="" />

                        </div>
                        <div class="col-md-9 item-details">
                            <h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
                            <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="editor-pics">
                        <div class="col-md-3 item-pic">
                            <img src="images/f1.jpg" class="img-responsive" alt="" />

                        </div>
                        <div class="col-md-9 item-details">
                            <h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
                            <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="editor-pics">
                        <div class="col-md-3 item-pic">
                            <img src="images/f4.jpg" class="img-responsive" alt="" />

                        </div>
                        <div class="col-md-9 item-details">
                            <h5 class="inner two"><a href="single.html">New iPad App to stimulate your Guitar</a></h5>
                            <div class="td-post-date two"><i class="glyphicon glyphicon-time"></i>Feb 22, 2015 <a href="#"><i class="glyphicon glyphicon-comment"></i>0 </a></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--//edit-pics-->
                <!--/top-news-->
                <div class="sign_main">
                    <h4 class="side">Đăng ký nhận tin</h4>
                    <div class="sign_up">
                        <p class="sign">Hãy đăng ký được cập nhật tin tức mới nhất!</p>
                        <form>
                            <input type="text" class="text" value="Họ Tên" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                            <input type="text" class="text" value="Địa chỉ email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
                            <input type="submit" value="Đăng ký">
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!--//end-mag-inner-->
        <!--/mag-bottom-->
        <div class="mag-bottom">
            <h3 class="tittle bottom"><i class="glyphicon glyphicon-globe"></i>Vòng quanh thế giới</h3>
            <div class="grid">
                <div class="col-md-4 m-b">
                    <a href="single.html"> <figure class="effect-layla"></a>
                    <img src="images/pic.jpg" alt="img25" />
                    <figcaption>
                        <h4>News <span>Mag</span></h4>
                        <a href="#">View more</a>
                    </figcaption>
                    </figure>
                    <div class="m-b-text">
                        <a href="single.html" class="wd">Lorem ipsum dolor sit amet,interdum ullamcorper consectetur </a>
                        <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                        <a class="read" href="single.html">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 m-b">
                    <figure class="effect-layla">
                        <a href="single.html">	<img src="images/pic2.jpg" alt="img25" /></a>
                        <figcaption>
                            <h4>News <span>Mag</span></h4>
                        </figcaption>
                    </figure>
                    <div class="m-b-text">
                        <a href="single.html" class="wd">Lorem ipsum dolor sit amet,interdum ullamcorper consectetur </a>
                        <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                        <a class="read" href="single.html">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 m-b">
                    <figure class="effect-layla">
                        <a href="single.html"><img src="images/pic3.jpg" alt="img25" /></a>
                        <figcaption>
                            <h4>News <span>Mag</span></h4>
                        </figcaption>
                    </figure>
                    <div class="m-b-text">
                        <a href="single.html" class="wd">Lorem ipsum dolor sit amet,interdum ullamcorper consectetur </a>
                        <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                        <a class="read" href="single.html">Read More</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!--//mag-bottom-->
    </div>
</div>

